<?xml version="1.0" encoding="utf-8"?>
<databasedetails>
	
	<isLive>true</isLive>

	<db>ds029821.mongolab.com</db>
	<port>29821</port>
	<username>danhett</username>
	<password>ch123</password>
	<seconds>10</seconds>

	<consumerKey>dJM9DLXpvPERlPM0XUtpWvVFk</consumerKey>
	<consumerSecret>lJ3zTm0tz2Tzt6xxonv9zuP021jUcbCCmHk9jGU5wbGBEmGn5r</consumerSecret>
	
</databasedetails>